@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: "Nunito Sans", sans-serif; 
    font-size: 20px;
}  
 
body {
    background-color:#f1ea85

}  
 
header{
    background-color: #472c2c;  
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 85px; 
    padding: 5px 10%;
}   
  
.header .logo {
    cursor: pointer; 
}

header .logo img {
    height: 70px;
    width: auto; 
    transition: all 0.3s;
}  
 
.header .logo img:hover {
    transform: scale(1.2);
}  
 
.header .nav-links{
    list-style: none;
}  
 
.header .nav-links li{
    display: inline-block; 
    padding: 0 20px;
}  

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700; 
    color: #f1ea85; 
    text-decoration: none;
} 
 
.header .nav-links li a:hover{
    color: #301515;
}  
 
.header .btn button{
    font-weight: 700; 
    color: #472c2c; 
    padding: 9px 25px;  
    background: #f1ea85; 
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    transition: all 0,3s ease 0s;


} 
 
.header .btn button:hover {
    background-color: rgb(83, 52, 52);  
    color: #f1ea85; 
    transform: scale(1.1);
}   
  
 
.footer{
    position: relative;
    width: 100%;
    background: #472c2c;  
    min-height: 100px;
    padding: 20px 50px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;


} 
 
.redes-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;

}  

.icon-elem{
    list-style: none;

} 
 
.icon{
    color: white;
    font-size: 32px;
    display: inline-block; 
    margin: 0 10px;
    transition: 0.5s; 
}  
 
.icon:hover{
    transform: translateY(-10px);
} 

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0; 
    flex-wrap: wrap;

} 
 
.menu-elem{
    list-style: none;

}  
 
.menu-icon{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5; 
    transition: 0.3s;

}  
 
.menu-icon:hover{
    opacity: 1;
}  
  
.text{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;

}