body {
    margin: 0;
    background-color: #f8ee94; 
   
}  
 
h1  {
    text-align: center;
}

header {
    background-color: #5789a7;
}

footer {
    background-color: #5789a7;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: rgb(206, 215, 224);
    padding: 1vw;
}

.rubik-bubbles-regular {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.container {
    background-color:#5789a7;
    display: flex;
}

.item {
    display: inline-flex;
}  
  
